# Swift
.DS_Store
build/
DerivedData/
*.xcodeproj/
*.xcworkspace/
*.xcuserstate
*.swiftpm/

# Java
*.class
*.jar
*.war
*.ear
target/
out/
*.log
*.classpath
*.project

# .NET
.vs/
.vscode/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# System files
.DS_Store
Thumbs.db
