# Swift
.DS_Store
build/
DerivedData/
*.xcodeproj/
*.xcworkspace/
*.xcuserstate
*.swiftpm/

# Java
*.class
*.jar
*.war
*.ear
target/
out/
*.log
*.classpath
*.project

# .NET
.vs/
.vscode/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Dotnet-specific
project.lock.json
project.fragment.lock.json
artifacts/

## Rider
.idea/

## Others
*.db
*.sqlite
*.pdb
*.cache
*.log

# System files
.DS_Store
Thumbs.db
